<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--  Property configuration -->
    <bean id="props"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:hibernate.properties</value>
            </list>
        </property>
    </bean>

    <!--  The MySQL DataSource -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="${hibernate.connection.driver_class}"/>
        <property name="url" value="${hibernate.connection.url}"/>
        <property name="username" value="${hibernate.connection.username}"/>
        <property name="password" value="${hibernate.connection.password}"/>
    </bean>

    <!-- Configure CacheManager from specified config location -->
    <bean id="cacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <!--  Hibernate session factory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref local="dataSource"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.max_fetch_depth">3</prop>
                <prop key="hibernate.jdbc.use_scrollable_resultset">false</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.c3p0.min_size">
                    ${hibernate.c3p0.min_size}</prop>
                <prop key="hibernate.c3p0.max_size">
                    ${hibernate.c3p0.max_size}</prop>
                <prop key="hibernate.c3p0.timeout">
                    ${hibernate.c3p0.timeout}</prop>
                <prop key="hibernate.c3p0.max_statements">
                    ${hibernate.c3p0.max_statements}
                </prop>
                <prop key="hibernate.cache.provider_class">
                    ${hibernate.cache.provider_class}</prop>
                <prop key="hibernate.cache.use_second_level_cache">
                    ${hibernate.cache.use_second_level_cache}</prop>
                <prop key="hibernate.jdbc.batch_size">
                    ${hibernate.jdbc.batch_size}</prop>
                <prop key="hibernate.c3p0.max_statements">
                    ${hibernate.c3p0.max_statements}
                </prop>
            </props>
        </property>
        <property name="mappingLocations">
            <list>
                <value>classpath:org/openvpms/component/business/dao/**/*.hbm.xml</value>
                <value>classpath:org/openvpms/archetype/rules/**/*.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--  Transaction manager -->
    <bean id="txnManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  The IMObject DAO bean -->
    <bean id="imObjectDao"
          class="org.openvpms.component.business.dao.hibernate.im.IMObjectDAOHibernate">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
        <property name="transactionManager">
            <ref local="txnManager"/>
        </property>
    </bean>

    <!--  The AuditRecord DAO bean -->
    <bean id="auditDao"
          class="org.openvpms.component.business.dao.hibernate.im.audit.AuditDAOHibernate">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <!--  The Archetype Descriptor Cache -->
    <bean id="archetypeDescriptorCache"
          class="org.openvpms.component.business.service.archetype.descriptor.cache.ArchetypeDescriptorCacheDB">
        <constructor-arg index="0" ref="imObjectDao"/>
    </bean>

    <!--  The Archetype Service -->
    <bean id="archetypeService"
          class="org.openvpms.component.business.service.archetype.ArchetypeService">
        <constructor-arg index="0">
            <ref local="archetypeDescriptorCache"/>
        </constructor-arg>
        <property name="dao">
            <ref local="imObjectDao"/>
        </property>
    </bean>

    <bean id="archetypeServiceHelper"
          class="org.openvpms.component.business.service.archetype.ArchetypeServiceHelper">
        <constructor-arg index="0">
            <ref local="archetypeService"/>
        </constructor-arg>
    </bean>

    <!--  The Lookup Service -->
    <bean id="lookupService" class="org.openvpms.component.business.service.lookup.LookupService">
        <constructor-arg index="0">
            <ref local="archetypeService"/>
        </constructor-arg>
        <constructor-arg index="1">
            <ref local="imObjectDao"/>
        </constructor-arg>
    </bean>

    <bean id="lookupServiceHelper" class="org.openvpms.component.business.service.lookup.LookupServiceHelper">
        <constructor-arg>
            <ref local="lookupService"/>
        </constructor-arg>
    </bean>


    <!-- ================================================================== -->
    <!-- Business rules                                                     -->
    <!-- ================================================================== -->

    <bean id="practiceRules" class="org.openvpms.archetype.rules.practice.PracticeRules">
        <constructor-arg ref="archetypeService"/>
    </bean>

    <bean id="patientRules" class="org.openvpms.archetype.rules.patient.PatientRules">
        <constructor-arg ref="archetypeService"/>
        <constructor-arg ref="lookupService"/>
        <constructor-arg ref="patientAgeFormatter"/>
    </bean>

    <bean id="patientAgeFormatter" class="org.openvpms.archetype.rules.patient.RefreshablePatientAgeFormatter">
        <constructor-arg ref="lookupService"/>
        <constructor-arg ref="practiceRules"/>
        <constructor-arg ref="archetypeService"/>
        <constructor-arg ref="imObjectBeanFactory"/>
    </bean>

    <bean name="imObjectBeanFactory"
          class="org.openvpms.component.business.service.archetype.helper.IMObjectBeanFactory">
        <constructor-arg index="0" ref="archetypeService"/>
    </bean>


    <!-- The JXPathHelper class, used to register extension functions -->
    <bean id="jxpathHelper"
          class="org.openvpms.component.system.common.jxpath.JXPathHelper">
        <constructor-arg>
            <map>
                <entry key="openvpms"
                       value="org.openvpms.component.business.service.archetype.ArchetypeServiceFunctions"/>
                <entry key="date"
                       value="org.openvpms.component.system.common.jxpath.DateFunctions"/>
                <entry key="expr">
                    <bean class="org.openvpms.archetype.function.expression.ExpressionFunctions">
                        <constructor-arg value="expr"/>
                    </bean>
                </entry>
                <entry key="lookup"
                       value="org.openvpms.archetype.function.lookup.LookupFunctions"/>
                <entry key="party">
                    <bean class="org.openvpms.archetype.function.party.PartyFunctions">
                        <constructor-arg ref="archetypeService"/>
                        <constructor-arg ref="patientRules"/>
                    </bean>
                </entry>
                <entry key="math">
                    <bean class="org.openvpms.archetype.function.math.MathFunctions"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>

    <!-- Document handlers for report loading -->
    <bean id="documentHandlers"
          class="org.openvpms.archetype.rules.doc.DocumentHandlers">
        <property name="documentHandlers">
            <list>
                <bean class="org.openvpms.report.jasper.JRXMLDocumentHandler">
                    <constructor-arg ref="archetypeService"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>
