<?xml version="1.0" encoding="UTF-8"?>
<plugin id="OpenVPMSLoaderPlugin"
        iconfile="plugin.png"
        description="OpenVPMS Loader"
        tooltip="This is an OpenVPMS ETL plugin step"
        category="Transform"
        classname="org.openvpms.etl.kettle.LoaderPluginMeta">
    <libraries>
        <library name="openvpms-archetypes-${pom.version}.jar"/>
        <library name="openvpms-framework-${pom.version}.jar"/>
        <library name="openvpms-etl-load-${pom.version}.jar"/>
        <library name="acegi-security-${acegi.version}.jar"/>
        <library name="asm-${asm.version}.jar"/>
        <library name="asm-attrs-${asm.version}.jar"/>
        <library name="antlr-${antlr.version}.jar"/>
        <library name="cglib-${cglib.version}.jar"/>
        <library name="castor-xml-${castor.version}.jar"/>
        <library name="commons-jxpath-${commons.jxpath.version}.jar"/>
        <library name="commons-beanutils-core-${commons.beanutils.version}.jar"/>
        <library name="commons-resources-${commons.resources.version}.jar"/>
        <library name="dom4j-${dom4j.version}.jar"/>
        <library name="ehcache-${ehcache.version}.jar"/>
        <library name="hibernate-${hibernate.version}.jar"/>
        <library name="jta-${jta.version}.jar"/>
        <library name="spring-hibernate-${spring.version}.jar"/>
        <library name="spring-core-${spring.version}.jar"/>
        <library name="spring-jdbc-${spring.version}.jar"/>
        <library name="spring-support-${spring.version}.jar"/>
        <library name="spring-context-${spring.version}.jar"/>
        <library name="spring-beans-${spring.version}.jar"/>
        <library name="spring-dao-${spring.version}.jar"/>
        <library name="spring-orm-${spring.version}.jar"/>
        <library name="xstream-${xstream.version}.jar"/>
        <library name="xpp3_min-${xpp3.version}.jar"/>
        <library name="xercesImpl-${xerces.version}.jar"/>
    </libraries>

</plugin>
