# war plugin properties
maven.war.final.name=openvpms.war

# tomcat deployment directory
tomcat.dir=/applications/apache-tomcat-5.5.12/
tomcat.webapps.dir=${tomcat.dir}/webapps
tomcat.sharedlib.dir=${tomcat.dir}/shared/lib
