hibernate.dialect=org.hibernate.dialect.MySQLDialect
hibernate.connection.driver_class=com.mysql.jdbc.Driver
hibernate.connection.url=jdbc:mysql://localhost:3306/openvpms
hibernate.connection.username=mysql
hibernate.connection.password=mysql
hibernate.show_sql=false

hibernate.c3p0.min_size=5
hibernate.c3p0.max_size=20
hibernate.c3p0.timeout=1800
hibernate.c3p0.max_statements=50

hibernate.query.factory_class=org.hibernate.hql.classic.ClassicQueryTranslatorFactory
