/*  most of the font related settings appear inside a span, not
 * inside the body. 
 */
BODY  {
	background-color : #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
}


P  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


/*  emphasis, instead of  <b>...</b>   */
EM{
   font-weight: bold;
   font-style: normal;	
}

/*  regular links */
A  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

A:Visited  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

A:Active  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
}

A:Hover  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* menu */
TABLE.menu {
	background-color: #30559C;
	padding : 0px;
	width : 112px;
}


/* general class definitions */
.bold{
	font-weight: bold;
}


/*   MENU links  */
A.menu  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

A.menu:Visited  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}

A.menu:Active  {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration: none;
}

A.menu:Hover  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}


/* regularHeader, should be used where possible */
H1  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
    color: black;	
}


/*  damn; */
.mainHeader  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
}
.userHeader  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
}


H2  {	
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}


H3  {	
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}


/*  the header of the ShowError component  */
H3.error  {
	background-color: #FF66FF;
	font-style: italic;	
    margin-bottom: 5px;
}


/*  the descriptive error message */
.error{
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 14px;
	vertical-align: middle;
}


/* the descriptive message */
.message{
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 14px;
	vertical-align: middle;
}



/*
 *   form relatred stuff
 * 
 */

/*  all forms are packed into a special form table */
TABLE.form {
	width: 600px ;
	background: #F5F5F5;
	border-collapse: collapse;
	border-width: 3px 1px 3px 1px;
	border-style: solid ;
	border-color: #80B5D7;
	margin-bottom : 2em;
	
}

/*  */
TABLE.form TABLE{
	background: #F5F5F5;	
	padding: 7px;
}


TABLE.form TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color : #3872B2;
	padding-left : 5px;
			padding-top: 6px;
    padding-bottom: 6px; 
	margin-bottom: 6px;
	height: 1.5em;
	text-align : left;
	vertical-align : sub;
}







/* form and validation related */
.formFieldLabel {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

/* form and validation related */
.formField {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* form and validation related */
.formFieldDescription {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
 }

/* form and validation related */
.formButton{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* form and validation related */
.invalidFormLabel{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* form and validation related */
.invalidFormFieldLabel{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}







/*
 *   table relatred stuff
 * 
 *




/*
 * data table 
 */

TABLE.dataTable {
	width: 600px ;
	background: white;
	border-collapse: collapse;
	border-width: 3px 1px 3px 1px;
	border-style: solid ;
	border-color: #80B5D7;
	margin-bottom : 2em;
	padding: 3px;
}

TABLE.dataTable CAPTION {
	margin-left: 0;
	text-align : left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: orange;
	font-weight : bold;
	/* margin-bottom : 0.7em; */
	padding-bottom : 0.7em;
}

TABLE.dataTable TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color : #3872B2;
	padding-left : 5px;
	padding-top: 6px;
    padding-bottom: 7px; 
	margin-bottom: 7px;
	text-align : left;
}


TABLE.dataTable TD { 
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left : 5px;
}


TABLE.dataTable TR.row1 {
	 background-color:#F5F5F5;
}

TABLE.dataTable TR.row1:HOVER {
	background-color: #ADD8E6;
}


TABLE.dataTable TR.row2 {
	 background-color:#FFFFFF;
}

TABLE.dataTable TR.row2:HOVER {
	background-color: #ADD8E6;
}




TABLE.dataTable .lastRow TD { 
    background: #3872B2;
	height: 1.5em;	 
}




/*
 * contentBox
 */

TABLE.contentBox {
	width: 800px ;
	background: #F5F5F5;
	border-collapse: collapse;
	border-width: 1px 1px 1px 1px;
	border-style: solid ;
	border-color: #80B5D7;
	margin-bottom : 2em;
}


TABLE.contentBox TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color : #3872B2;
	padding-left : 5px;
		padding-top: 6px;
    padding-bottom: 6px; 
	margin-bottom: 6px;
	height: 1.5em;
	text-align : left;
	/* vertical-align : sub; */
}


TABLE.contentBox TD { 
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-left: 5px;
		padding-top: 6px;
    padding-bottom: 6px; 
	margin-bottom: 6px;
}






/*   two differnet background colors for data tables */

/* 
TR.row1 {
	font-size: 11px;
    background-color:#F5F5F5;
}

TR.row2 {
	font-size: 11px;
    background-color:#FFFFFF;
}



 
 * Content Box 

.contentBoxHeader {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.contentBox {
	background-color : #80B5D7;
}
 */



/* Tapestry palette component */    
TABLE.tapestry-palette TH {
   font-size: 9pt;
   font-weight: bold;
   color: white;
   background-color: #3872B2;
   text-align: center;
 }


/* Tapestry palette component */
TD.available-cell SELECT {
   font-weight: normal;
   background-color: #FFFFFF;
   width: 200px;
 }
 
 
/* Tapestry palette component */
TD.selected-cell SELECT {
   font-weight: normal;
   background-color: #FFFFFF;
   width: 200px;
 }

/* Tapestry palette component */ 
TABLE.tapestry-palette TD.controls  {
   text-align: center;
   vertical-align: middle;
   width: 60px;
 }
 
 

TABLE.reportHtml{
	width: 700px ;
	background: #F5F5F5;
	border-collapse: collapse;
	border-width: 3px 1px 3px 1px;
	border-style: solid ;
	border-color:  #CDC8FD;
	margin-bottom : 2em;
}


TABLE.reportHtml TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
	background-color : #CDC8FD;
	padding-left : 5px;
	height: 1.5em;
	text-align : left;
	vertical-align : sub;
}


TABLE.reportHtml TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: black;
	padding-left : 5px;
	height: 1.5em;
	text-align : left;
	vertical-align : sub;
}


 

