<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/act/ActDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/act/ActRelationshipDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/act/ParticipationDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/archetype/ActionTypeDescriptorDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/archetype/ArchetypeDescriptorDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/archetype/AssertionDescriptorDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/archetype/AssertionTypeDescriptorDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/archetype/NodeDescriptorDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/document/DocumentDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/audit/AuditRecord.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/entity/EntityDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/entity/EntityIdentityDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/entity/EntityRelationshipDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/entity/EntityLinkDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/lookup/LookupDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/lookup/LookupRelationshipDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/party/ContactDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/product/ProductPriceDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/security/ArchetypeAuthorityDOImpl.hbm.xml"/>
        <mapping resource="org/openvpms/component/business/dao/hibernate/im/security/SecurityRoleDOImpl.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
